/*영문폰트*/
/*  font-family: "BlackerSans"; */
@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BlackerSans";
  src: url("../fonts/BlackerSansDisplayTrial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*한글폰트*/
/* font-family: "AritaBuriKR"; */
@font-face {
  font-family: "AritaBuriKR";
  src: url("../fonts/AritaBuriKR-HairLine.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "AritaBuriKR";
  src: url("../fonts/AritaBuriKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "AritaBuriKR";
  src: url("../fonts/AritaBuriKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AritaBuriKR";
  src: url("../fonts/AritaBuriKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AritaBuriKR";
  src: url("../fonts/AritaBuriKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* * */
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}

/*BODY*/
body {
  background-color: #ffefef;
  word-break: keep-all;
}

/* 폰트 */
h2 {
  font-family: "BlackerSans";
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-family: "BlackerSans";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-family: "BlackerSans";
  font-size: 24px;
  font-weight: bold;
}
p {
  font-family: "AritaBuriKR";
  font-size: 16px;
  font-weight: normal;
}

/* HEADER */
header {
  width: 100%;
  margin: 0px auto;
  background-color: transparent;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 9;

  transition: background-color 1s ease, color 1s ease;
}
header.scrolled {
  background-color: rgba(241, 146, 123, 0.8);
}
header .inner {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "BlackerSans";
  font-weight: normal;
  padding: 10px 0px;
  height: 80px;
  box-sizing: border-box;
  background-color: transparent;
}
header h1 {
  width: 100px;
  height: 50px;
}
header h1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert();
}
header nav .burger {
  display: none;
  cursor: pointer;
}
header nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
header nav ul li a {
  display: flex;
  align-items: center;
  height: 50px; /* same as logo height */
}
header nav .burger {
  display: none;
}

/* SIDE MENU */
#menu {
  font-family: "BlackerSans";
  display: none;
}

/* FOOTER */
footer {
  width: 100%;
  /* background-color: rgba(241, 146, 123, 0.8); */
  background-color: rgba(133, 191, 193, 0.8);
  color: #fff;
  font-family: "BlackerSans";
  box-sizing: border-box;
  padding: 50px 20px;
  /* position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999; */
  overflow-x: hidden;
  font-family: "AritaBuriKR";
  font-size: 16px;
  font-weight: normal;
}
footer .inner {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .inner .info {
  line-height: 1.5;
}
footer .inner .sns {
  display: flex;
  font-size: 24px;
  gap: 20px;
}
footer .bottom {
  max-width: 1200px;
  margin: 0px auto;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

/* 모바일 */
@media (max-width: 620px) {
  /* HEADER */
  header nav .burger {
    display: block;
  }
  header nav .burger i {
    font-size: 24px;
  }
  header nav .burger .open {
    display: block;
  }
  header nav .burger .close {
    display: none;
  }
  header nav ul {
    display: none;
  }
  /* SIDE MENU */
  #menu {
    background-color: transparent;
    color: #fff;
    width: 100%;
    text-align: right;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0%;
    top: 80px;
    z-index: 10;
    transition: background-color 1s ease, color 1s ease;
    display: none;
  }
  #menu.active {
    display: block;
  }
  #menu.scrolled {
    background-color: rgba(241, 146, 123, 0.8);
  }
  #menu ul {
    padding: 10px 20px;
  }
  #menu ul li {
    margin-bottom: 50px;
  }

  #container.active {
    opacity: 50%;
    /* filter: blur(1px); */
  }
  /* FOOTER */
  footer .inner {
    display: block;
  }
  footer .inner ul {
    text-align: center;
    margin: 0px auto;
  }
  footer .inner .info {
    margin-bottom: 16px;
  }
  footer .inner .sns {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
}

/* 태블릿 */
@media (min-width: 620px) and (max-width: 1200px) {
}
/* PC */
@media (min-width: 1200px) {
}
