* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* header */

/* visual */
.visual {
  background-image: url(/img/facilities/9.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-image: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* titleBox */
.titleBox {
  color: #fff;
}
.titleBox h2 {
  letter-spacing: 1vw;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.titleBox p {
  line-height: 1.5;
}

/* #con01 */
#con01 {
  width: 100%;
  height: 100vh;
}
/* .fa1 */
.fa1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .t1 */
.t1 {
  color: #333;
}
.t1 h3 {
  color: #85bfc1;
}
.t1 ul {
  margin-left: 20%;
}
.t1 ul li {
  margin: 5% 0%;
}
.t1 li img {
  width: 50%;
}

/* .img1  */
.img1 {
  width: calc(100% / 2);
}
.img1 img {
  width: 100%;
}

/* #con2 */
#con2 {
  position: relative;
  width: 100%;
  height: 100vh;
}
#con2 .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
#con2 .top ul li {
  margin: 5% 0%;
}
#con2 .top div img {
  width: 50%;
}

.bottom {
  display: flex;
  justify-content: left;
}
.bottom div img {
  width: 50%;
}
.roundText {
  position: absolute;
  right: 0;
  bottom: 0;
}
