* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* header */

/* visual */
#visual {
  width: 100%;
  height: 100vh;
  background-image: url(/img/facilities/9.jpg);
  background-position: center;
  background-image: cover;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}
#visual .titleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#visual .bottom {
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
#visual .bottom .bar {
  width: 200px;
  height: 1px;
  background-color: #fff;
}
#visual .bottom p {
  margin: 0px 50px;
}

/* titleBox */
.titleBox {
  color: #fff;
}
.titleBox h2 {
  letter-spacing: 1vw;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.titleBox p {
  line-height: 1.5;
}

/* #con01 */
#con01 {
  width: 100%;
  height: 100vh;
  margin: 100px auto;
}
/* .fa1 */
.fa1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .t1 */
.t1 {
  color: #333;
  width: calc(100% / 2);
}
.t1 h2 {
  color: #85bfc1;
}
.t1 ul {
  width: 100%;
  transform: translate(25%);
  /* margin: 0px auto; */
  /* text-align: left; */
}
.t1 ul li {
  margin: 5% 0%;
}
.t1 li img {
  width: 50%;
}

/* .img1  */
.img1 {
  width: calc(100% / 2);
  height: 100%;
}
.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #con2 */
#con02 {
  width: 100%;
  height: 100vh;
  margin: 100px auto;
  position: relative;
}

/* top  */
.top {
  width: 100%;
  height: calc(100% / 2);
  display: flex;
}
.top h2 {
  color: #85bfc1;
}
.top ul {
  width: calc(100% / 2);
  transform: translate(25%, 10%);
}
.top ul li {
  margin: 2% 0%;
}
.top ul img {
  width: 25%;
  object-fit: cover;
}
.top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* imgBox  */
.imgBox {
  width: calc(100% / 2);
  height: 100%;
  object-fit: cover;
}

/* bottom  */
#con02 .bottom {
  width: 100%;
  height: calc(100% / 2);
  position: relative;
}
#con02 .bottom div {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#con02 .bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.round {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  right: 150px;
  bottom: 100px;
}
.round img {
  /* 애니메이션 이름: spin */
  animation-name: spin;

  /* 애니메이션 지속 시간: 3초 */
  animation-duration: 10s;

  /* 애니메이션 반복 횟수: 무한히 반복 */
  animation-iteration-count: infinite;

  /* 애니메이션 타이밍 함수: 선형 (일정 속도) */
  animation-timing-function: linear;
}
@keyframes spin {
  /* 0% (시작): 변형 없음 */
  0% {
    transform: rotate(0deg);
  }

  /* 100% (끝): 360도 회전 */
  100% {
    transform: rotate(360deg);
  }
}

/* #con03  */
#con03 h2 {
  color: #85bfc1;
}
#con03 h4 {
  margin: 20px 0px;
}
#con03 p {
  margin: 20px 0px;
  line-height: 2;
}
#con03 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#con03 ul {
  display: flex;
  margin: 100px 0px;
}

#con03 li {
  width: 700px;
  flex-shrink: 0;
  padding: 0px 50px;
  box-sizing: border-box;
}
#con03 img {
  width: 100%;
}

/* #con04  */
#con04 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#con04 img {
  width: 70%;
  object-fit: cover;
}
#con04 ul {
  width: 100%;
}
#con04 li {
  width: 100%;
}

#con04 h2 {
  color: #85bfc1;
}
#con04 h4 {
  margin: 20px 0px;
}
#con04 p {
  margin: 20px 0px;
  line-height: 2;
}

#con04 .vertical {
  width: 8%;
  position: absolute;
  right: 50px;
  top: 0%;
  filter: brightness(10);
  opacity: 0.5;
}
#con04 .vertical img {
  width: 100%;
}

#con04 .left {
  scale: 0;
}
#con04 .right {
  scale: 0;
}
