* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #ffefef;
}
/* header */

/* visual */
#visual {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#visual .panel li {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: none;
}
#visual .panel .panel01 {
  background: url(/img/rooms/4.jpg) no-repeat center;
  display: block;
}
#visual .panel .panel02 {
  background: url(/img/rooms/visual.jpg) no-repeat center;
}
#visual .panel .panel03 {
  background: url(/img/rooms/visual2.jpg) no-repeat center;
}

#visual .textBox {
  width: 100%;
  margin: 25% auto;
  color: #fff;
  text-align: center;
}

#visual h2 {
  letter-spacing: 20px;
  margin-bottom: 50px;
}
#visual P {
  line-height: 1.6;
  margin-bottom: 50px;
}

/* navi */

#visual .navi {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
#visual .navi li:nth-child(2) {
  display: flex;
  align-items: center;
  width: 100%;
}
#visual .navi li:nth-child(2) span {
  margin: 0px 10px;
  display: none;
}
#visual .bar {
  width: 500px;
  height: 1px;
  background-color: #ccc;
}
#visual .bar > div {
  width: 25%;
  height: 100%;
  background-color: #32f8ff;
}
#visual .navi li a {
  padding: 10px;
}

#visual .navi li:first-child {
  color: rgb(255, 255, 255);
}

#visual .navi li:last-child {
  color: rgb(255, 255, 255);
}

/* con01 */

.con01 {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con01 .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.con01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
.con01 .right,
.con01 .left {
  width: calc(100% / 2);
  height: 90%;
}
.con01 .leftText {
  margin-top: 17%;
}
.con01 .leftText h2 {
  color: #85bfc1;
}
.con01 .leftText .pinkbox {
  margin-top: 10%;
  background-color: #f1927b;
  padding: 40px 20px 40px 20px;
  text-align: right;
  border-radius: 70px 0px 70px 0px;
  color: #fff;
}

/* con02 */
.con02 {
  width: 100%;
  height: 100vh;
  background-color: #f1927b;
  position: relative;
  overflow: hidden;
}
.con02 .wrap {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  color: #fff;
  padding: 10%;
}

.con02 h2 {
  font-size: 40px;
  padding: 50px 0px;
}
.con02 span {
  font-size: 16px;
  text-align: center;
}
.con02 p {
  font-size: 16px;
  text-align: center;
}
.con02 .bg3 .icon {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 50px;
  width: 50%;
}
.con02 .icon li {
  width: 10%;
}

.con02 .round {
  position: absolute;
  right: -30%;
  bottom: 0%;
  width: 60%;
  height: 100%px;
  border-radius: 50%;
}

.con02 .round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* con03 */

.con03 {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

/* con03밑에 내용 */

.con03 .wrap {
  width: 100%;
  height: 100vh;
  margin: 200px auto;
}
.con03 h2 {
  font-size: 70px;
  color: #85bfc1;
  text-align: center;
  padding-bottom: 50px;
}

/* li img */
.con03 .imgBox {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  /* padding-bottom: 50px; */
  box-sizing: border-box;
  gap: 50px;
  /* height: 500px; */
}

.con03 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con03 .bg1 {
  width: calc(100% / 3);
  background: url(/img/rooms/LUCA.jpg) no-repeat center;
  background-size: cover;
  clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0 100%);
}
.con03 .bg2 {
  width: calc(100% / 3);
  background: url(/img/rooms/ROSE.jpg) no-repeat center;
  background-size: cover;
  border-radius: 250px 250px 0px 0px;
}
.con03 .bg3 {
  width: calc(100% / 3);
  background: url(/img/rooms/23.jpg) no-repeat center;
  background-size: cover;
  clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0 100%);
}
.con03 .imgBox {
  position: relative; /* 가운데 정렬 기준 잡기 */
  overflow: hidden;
}
.con03 .imgBox li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #555555;
}
/* 눌렀을때 효과주기 hover */
.con03 .imgBox li a:hover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.con03 .imgBox li:nth-child(2) a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  border-radius: 250px 250px 0px 0px;
}

/* 양옆 */
.con03 .prev {
  position: absolute;
  transform: translateY(-50%);
  top: 65%;
  left: 5%;
}
.con03 .next {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 5%;
}
.con03 .prev a,
.con03 .next a {
  color: #555555;
  font-size: 20px;
  transition: 0.3s;
}
.con03 .prev a:hover,
.con03 .next a:hover {
  color: #85bfc1;
}

/* bar */
.con03 .bottom {
  width: 100%;
  color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con03 .bottom .bar {
  width: 350px;
  height: 1px;
  background-color: #555555;
}
.con03 .bottom .on {
  width: 350px;
  height: 1px;
  background-color: #32f8ff;
}
.con03 .bottom p {
  margin: 0px 50px;
}

/* con04 */

/* 위에 흘러가는 로고 */
.con03 .top {
  position: absolute;
  white-space: nowrap;
  display: flex;
  gap: 80px;
  font-size: 40px;
  color: #85bfc1;
  /* border: 1px solid #85bfc1; */
  box-sizing: border-box;
  animation: flowText 25s linear infinite;
  bottom: -1%;
  left: 0%;
  pointer-events: none;

  opacity: 0.3;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.con04 {
  width: 100%;
  height: 100%;
  background: url(/img/rooms/3.jpg) no-repeat center;
  background-size: cover;
}
.con04 .full {
  width: 100%;
  margin: 100px auto;
  text-align: center;
  padding-top: 10%;
}
.con04 .full h2 {
  color: #f1927b;
  font-size: 150px;
}
.con04 .full p {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}
.con04 .full .btn {
  width: 250px;
  height: 70px;
  line-height: 70px;
  margin: 10% auto;

  background-color: #ffffff96;
  color: #f1927b;
  border: 2px solid #f1927b;
  border-radius: 20px;
  font-weight: bold;
  /* 귀여운 효과용 */
  transition: all 0.2s ease; /* 부드럽게 변화 */
  box-shadow: 0 5px 0 #f1927b; /* 살짝 입체 느낌 */
}
.con04 .full .btn a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 24px;
}

.con04 .full .btn:hover {
  transform: scale(0.95); /* 눌릴 때 살짝 줄어듬 */
  box-shadow: 0 2px 0 #f1927b; /* 그림자도 낮아짐 */
}
@media (min-width: 1200px) {
  .con03 .imgBox {
    width: 80%;
    gap: 50px;
  }
  .con03 h2 {
    font-size: 70px;
  }
  .con03 .top {
    font-size: 40px;
  }
  .con03 .bottom .bar {
    width: 350px;
  }
}

/* 태블릿 */
@media (min-width: 620px) and (max-width: 1200px) {
  .con03 .imgBox {
    width: 90%;
    gap: 30px;
  }
  .con03 h2 {
    font-size: 50px;
  }
  .con03 .top {
    font-size: 30px;
  }
  .con03 .bottom .bar {
    width: 250px;
  }
}

/* 모바일 */
@media (max-width: 620px) {
  .con03 .wrap {
    margin: 100px auto;
  }
  .con03 h2 {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .con03 .imgBox {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .con03 .imgBox li {
    width: 100%;
    height: 200px;
  }
  .con03 .top {
    font-size: 20px;
    gap: 40px;
    bottom: -5%;
  }
  .con03 .bottom .bar {
    width: 150px;
  }
  .con03 .prev,
  .con03 .next {
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }
}
